body {
  background-image: linear-gradient(-90deg, #09457a, #090608);
  color: rgb(227, 223, 223);
}
/* Header */
.large-header {
  position: relative;
  width: 100%;
  background: #333;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  z-index: 1;
}
#large-header {
  background-image: url("https://www.marcoguglie.it/Codepen/AnimatedHeaderBg/demo-1/img/demo-1-bg.jpg");
}
.main-title {
  position: absolute;
  margin: 0;
  padding: 0;
  color: #f9f1e9;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}
.demo-1 .main-title {
  text-transform: uppercase;
  font-size: 4.2em;
  letter-spacing: 0.1em;
}
.main-title .thin {
  font-weight: 200;
}
@media only screen and (max-width: 768px) {
  .demo-1 .main-title {
    font-size: 3em;
  }
}

* {
  margin: 0px;
  padding: 0px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.menu-bar {
  background-image: linear-gradient(-90deg, rgb(12, 12, 142), rgb(5, 3, 4));
}

.nav-link {
  font-size: 16px;
  margin: 3px;
  color: #fff !important;
  font-weight: 500;
}

.accordion-button {
  background-image: linear-gradient(-90deg, rgb(12, 12, 142), rgb(5, 3, 4));
}

/* acordion css prices */
@import url("https://fonts.googleapis.com/css?family=Fjalla+One");
@import url("https://fonts.googleapis.com/css?family=Exo+2");
html {
  height: 100vh;
}

.accordion-horizontal {
  max-width: 990px;
  background: rgba(0, 0, 0, 0.1);
  height: 300px;
  margin: 20px auto;
  display: flex;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.47);
  flex-direction: row;
  cursor: pointer;
  margin-bottom: 100px;
}
.box {
  position: relative;
  height: 100%;
  flex: 1;
  background-position: left;
  background-size: cover;
  transition: 0.7s;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.47);
}
.box:hover {
  flex: 7;
  height: 400px;
}
.a1 {
  background-image: url("/images/business-card.jpg");
}
.a2 {
  background-image: url("/images/meeting.jpg");
}
.a3 {
  background-image: url("/images/connect.jpg");
  color: #fff;
}
.a4 {
  background-image: url("https://images.pexels.com/photos/240038/pexels-photo-240038.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  color: #fff;
}
.a5 {
  background-image: url("/images/aboutus.jpg");
}
p {
  font-weight: normal;
  font-family: "Exo 2", sans-serif;
}
.text {
  position: absolute;
  bottom: 0;
  opacity: 0;
  padding: 10px;
}
.box:hover .text {
  opacity: 1;
}
h1 {
  width: 250px;
  text-align: center;
  margin: 100px auto 20px auto;
}

@media screen and (max-width: 800px) {
  body {
    margin: 0;
  }
  .accordion {
    flex-direction: column;
    height: 700px;
    box-shadow: none;
  }
  .box {
    box-shadow: none;
  }
  .box:hover {
    flex: 7;
  }
}

@media (min-width: 300px) and (max-width: 768px) {
  .video {
    width: 95%;
    height: 500px;
    padding-bottom: 10px;
  }
  .accordion {
    height: 300px;
  }
}
@media (min-width: 300px) and (max-width: 800px) {
  .accordion {
    height: 250px;
  }
}
.paddingx {
  padding-right: 12vw;
  padding-left: 12vw;
}
